In [ ]:
import pandas as pd



```
# This is formatted as c

```
# This is fo
```

ode
```

# New section

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy
from scipy import stats
import statsmodels.api as sm
from scipy.stats import ttest_ind
from sklearn.linear_model import LinearRegression
import sklearn.linear_model as lm
from sklearn import metrics
#from regressors import stats as regresion_stats
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import mutual_info_regression

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# New section

#Step 1: Regress the i asset/portfolio on the time series risk factor to obtain beta
#Step 2:  Obtain a matrix of beta 636 x 3 
#Step 3: Multiply the beta matrix with TS average returns to achieve beta premium

In [ ]:
path = '/content/GRS 32p.xlsx'
portfolios = pd.read_excel(path, sheet_name = 'portfolio')

ff = pd.read_excel(path, sheet_name = 'ff factors')

q_model = pd.read_excel(path, sheet_name = 'q factor')

In [ ]:
q_model.describe()

            R_MKT        R_ME        R_IA       R_ROE        R_EG
count  636.000000  636.000000  636.000000  636.000000  636.000000
mean     0.532562    0.274202    0.362201    0.538867    0.814053
std      4.471617    3.047915    1.876074    2.494246    1.897952
min    -23.140300  -14.390300   -7.157200  -13.832900   -7.056000
25%     -2.140575   -1.514250   -0.825175   -0.721950   -0.309675
50%      0.908050    0.191900    0.301550    0.641400    0.733150
75%      3.496800    2.026950    1.541025    1.868600    1.899675
max     16.033000   22.136900    9.241100   10.378500   10.815600

In [ ]:
portfolios.describe()

       SMALL LoBM LoOP  ME1 BM1 OP2  ...  ME2 BM4 OP3  BIG HiBM HiOP
count       636.000000   636.000000  ...   636.000000     636.000000
mean          0.085321     0.604845  ...     0.859915       0.688051
std           8.452338     6.967855  ...     5.439820       9.746230
min         -36.003700   -33.751900  ...   -22.115500     -44.616000
25%          -4.889500    -3.825900  ...    -1.989800      -3.856525
50%           0.293900     0.987000  ...     0.904500       0.652900
75%           5.316750     4.778250  ...     4.245375       5.215500
max          46.316900    21.365900  ...    21.928300     130.120200

[8 rows x 32 columns]

In [ ]:
ff.describe()

           Mkt-RF         SMB         HML         RMW         CMA
count  636.000000  636.000000  636.000000  636.000000  636.000000
mean     0.553318    0.209811    0.307594    0.275550    0.291211
std      4.481373    3.031594    2.868057    2.212315    2.009689
min    -23.240000  -14.860000  -11.060000  -18.480000   -6.860000
25%     -2.057500   -1.550000   -1.365000   -0.810000   -1.015000
50%      0.920000    0.090000    0.255000    0.255000    0.145000
75%      3.505000    2.015000    1.730000    1.305000    1.532500
max     16.100000   18.050000   12.600000   13.380000    9.560000

In [ ]:
data.head()

   SMALL LoBM LoOP  ME1 BM1 OP2  ...  ME2 BM4 OP3  BIG HiBM HiOP
0          17.2862      19.8935  ...      15.5762        17.0256
1           6.1325       4.0457  ...      -0.4976        -3.4834
2           5.5244       5.3522  ...       9.3183        10.4279
3           3.6228       4.2923  ...       5.5114        -5.0819
4           2.4768       1.1203  ...      -6.0156        -2.9300

[5 rows x 32 columns]

In [ ]:
def GRS_1(data, factor):
  if data.shape[0] < factor.shape[0]: factor = factor.loc[data.index]
  else: data = data.loc[factor.index]
  
  data = data.fillna(0)
  factor = factor.fillna(0)

  N = data.shape[1]
  x = np.array(factor)
  x = np.hstack((np.ones((x.shape[0],1)),x))
  alpha = pd.DataFrame(data = np.zeros(shape = (N, 4)),
                      columns = ['alpha' , 't', 'hat', 'mu hat'],
                      index = data.columns)
  R2 = np.zeros(N)
  adj_R2 = np.zeros(N)
  e = np.zeros(shape = data.shape)
  R = pd.DataFrame(np.zeros(N), index= data.columns)
  R_bar = data.mean().mean()
  alpha_hat =  pd.DataFrame(np.zeros(N), index= data.columns)
  i = 0
  for column in data.columns:
    y = np.array(data[column])
    R.loc[column] = y.mean()
    model_1 = sm.OLS(y, x)
    res_1 = model_1.fit()
    #print(res_1.params[0])
    alpha['alpha'].loc[column] = res_1.params[0]
    #alpha['t'].loc[column] = res_1.tvalues[0]
    if abs(res_1.tvalues[0]) > 1.95: alpha['t'].loc[column]  = 1
    else: alpha['t'].loc[column]  = 0
    alpha['hat'].loc[column] = res_1.params[0] * 2 - res_1.bse[0] * 2
    R2[i] = res_1.rsquared
    adj_R2[i] = 1 - (1 - res_1.rsquared) * ( (x.shape[0] - 1) / (x.shape[0] - N - 1) )
    e[:, i] = res_1.resid
    i += 1

  alpha['mu hat'] = (R - R_bar) * 2  - (R - R_bar).std() / np.sqrt(len(R)) * 2
  #print(alpha)
  alpha_1 = np.array(alpha['alpha'])
  average_absolute_alpha = alpha['alpha'].abs().mean()
  average_absolute_alpha_R_i = average_absolute_alpha / (R - R_bar).abs().mean()
  ave_alpha_mu =  alpha['hat'].mean() / alpha['mu hat'].mean()

  F = np.delete(x, 0,1)
  F_bar = np.tile(F.mean(axis=0), (F.shape[0], 1))

  T = x.shape[0]
  L = F.shape[1]

  Sigma = e.T.dot(e) / (T - L - 1)
  mu = np.array(factor.mean()).reshape(-1,1)


  Omega = (F - F_bar).T.dot(F - F_bar) / (T - 1)
  GRS = (T/N)( (T - N - L) / (T - L - 1))( alpha_1.T.dot(np.linalg. inv(Sigma)).dot(alpha_1) / (1 + mu.T.dot(np.linalg.inv(Omega)).dot(mu)) )
  alpha['t'] 
  print(alpha_1)
  print(( alpha_1.T.dot(np.linalg. inv(Sigma)).dot(alpha_1))) 
  return GRS.item(), alpha['t'].sum(), R2.mean(), adj_R2.mean()

In [ ]:
data = portfolios

factor = q_model

def GRS_1(data, factor):
  if data.shape[0] < factor.shape[0]: factor = factor.loc[data.index]
  else: data = data.loc[factor.index]

  data = data.fillna(0)
  factor = factor.fillna(0)

  N = data.shape[1]
  x = np.array(factor)
  x = np.hstack((np.ones((x.shape[0],1)),x))
  alpha = pd.DataFrame(data = np.zeros(shape = (N, 5)),
                      columns = ['alpha' , 't', 'tvalues1', 'hat', 'mu hat'],
                      index = data.columns)
  R2 = np.zeros(N)
  adj_R2 = np.zeros(N)
  e = np.zeros(shape = data.shape)
  R = pd.DataFrame(np.zeros(N), index= data.columns)
  R_bar = data.mean().mean()
  alpha_hat =  pd.DataFrame(np.zeros(N), index= data.columns)
  i = 0
  for column in data.columns:
    y = np.array(data[column])
    R.loc[column] = y.mean()
    model_1 = sm.OLS(y, x)
    res_1 = model_1.fit()
    #print(res_1.params[0])
    alpha['alpha'].loc[column] = res_1.params[0]
    #print(res_1.tvalues[0])
    alpha['tvalues1'].loc[column] = res_1.tvalues[0]
    if abs(res_1.tvalues[0]) > 1.95: alpha['t'].loc[column]  = 1
    else: alpha['t'].loc[column]  = 0
    alpha['hat'].loc[column] = res_1.params[0] * 2 - res_1.bse[0] * 2
    R2[i] = res_1.rsquared
    adj_R2[i] = 1 - (1 - res_1.rsquared) * ( (x.shape[0] - 1) / (x.shape[0] - N - 1) )
    e[:, i] = res_1.resid
    i += 1

  alpha['mu hat'] = (R - R_bar) * 2  - (R - R_bar).std() / np.sqrt(len(R)) * 2
  #print(alpha)
  alpha_1 = np.array(alpha['alpha'])
  average_absolute_alpha = alpha['alpha'].abs().mean()
  average_absolute_alpha_R_i = average_absolute_alpha / (R - R_bar).abs().mean()
  ave_alpha_mu =  alpha['hat'].mean() / alpha['mu hat'].mean()

  F = np.delete(x, 0,1)
  F_bar = np.tile(F.mean(axis=0), (F.shape[0], 1))

  T = x.shape[0]
  L = F.shape[1]

  Sigma = e.T.dot(e) / (T - L - 1)
  mu = np.array(factor.mean()).reshape(-1,1)

  #print(alpha_1)
  #print(( alpha_1.T.dot(np.linalg. inv(Sigma)).dot(alpha_1))) 
  #print(Sigma)


  Omega = (F - F_bar).T.dot(F - F_bar) / (T - 1)
  GRS = (T/N) * ( (T - N - L) / (T - L - 1)) * ( alpha_1.T.dot(np.linalg. inv(Sigma)).dot(alpha_1) / (1 + mu.T.dot(np.linalg.inv(Omega)).dot(mu)).item() )


  #print(GRS)
  #print(GRS)
  return GRS, alpha['alpha'] , alpha['tvalues1']

In [ ]:
GRS_1(portfolios, q_model)

(1.5863315835427025, SMALL LoBM LoOP   -0.207476
 ME1 BM1 OP2       -0.045257
 ME1 BM1 OP3       -0.053083
 SMALL LoBM HiOP   -0.016841
 ME1 BM2 OP1        0.018905
 ME1 BM2 OP2        0.023452
 ME1 BM2 OP3       -0.037703
 ME1 BM2 OP4        0.113346
 ME1 BM3 OP1       -0.083021
 ME1 BM3 OP2        0.023133
 ME1 BM3 OP3        0.170612
 ME1 BM3 OP4        0.130562
 SMALL HiBM LoOP   -0.012041
 ME1 BM4 OP2        0.095568
 ME1 BM4 OP3        0.176864
 SMALL HiBM HiOP    0.417966
 BIG LoBM LoOP      0.445058
 ME2 BM1 OP2        0.017272
 ME2 BM1 OP3        0.184191
 BIG LoBM HiOP     -0.058087
 ME2 BM2 OP1       -0.031593
 ME2 BM2 OP2       -0.149157
 ME2 BM2 OP3       -0.108797
 ME2 BM2 OP4       -0.131829
 ME2 BM3 OP1       -0.178394
 ME2 BM3 OP2       -0.091853
 ME2 BM3 OP3        0.035150
 ME2 BM3 OP4        0.003722
 BIG HiBM LoOP     -0.179239
 ME2 BM4 OP2       -0.137268
 ME2 BM4 OP3        0.058500
 BIG HiBM HiOP      0.014870
 Name: alpha, dtype: float64, SMALL LoBM LoOP   -1.440955
 ME1 BM1 OP2       -0.427080
 ME1 BM1 OP3       -0.750264
 SMALL LoBM HiOP   -0.220003
 ME1 BM2 OP1        0.171283
 ME1 BM2 OP2        0.295384
 ME1 BM2 OP3       -0.505887
 ME1 BM2 OP4        1.136361
 ME1 BM3 OP1       -1.057682
 ME1 BM3 OP2        0.276938
 ME1 BM3 OP3        1.867836
 ME1 BM3 OP4        0.995239
 SMALL HiBM LoOP   -0.140821
 ME1 BM4 OP2        0.898589
 ME1 BM4 OP3        1.264114
 SMALL HiBM HiOP    1.946450
 BIG LoBM LoOP      2.422201
 ME2 BM1 OP2        0.130545
 ME2 BM1 OP3        2.279382
 BIG LoBM HiOP     -0.804178
 ME2 BM2 OP1       -0.276201
 ME2 BM2 OP2       -1.561872
 ME2 BM2 OP3       -1.465759
 ME2 BM2 OP4       -1.187287
 ME2 BM3 OP1       -2.007384
 ME2 BM3 OP2       -1.055767
 ME2 BM3 OP3        0.341205
 ME2 BM3 OP4        0.025329
 BIG HiBM LoOP     -1.983736
 ME2 BM4 OP2       -1.120726
 ME2 BM4 OP3        0.387512
 BIG HiBM HiOP      0.040362
 Name: tvalues1, dtype: float64)

In [ ]:
for i in range(32):
    y= (data.iloc[:,i])
    x=data[['Mkt-RF','SMB','HML','RMW','CMA']]
    x = sm.add_constant(x)
    model = sm.OLS(y,x)
    results = model.fit()
    results.params
    results.tvalues
    print(results.summary())

KeyError: ignored

In [ ]:


#OneFactor TEST
y = data['ME1 BM4']
x=data['HML']
x = sm.add_constant(x)
model = sm.OLS(y,x)
results = model.fit()
results.params
results.tvalues
print(results.summary())

#MultiFactor FAMA -5

y = data['ME1 BM2']
x=data[['Mkt-RF','SMB','HML','RMW','CMA']]               
x = sm.add_constant(x)
model = sm.OLS(y,x)
results = model.fit()
results.params
results.tvalues
R2 = print(results.rsquared)
print(results.summary())

data.head()

for col in data:
    
y = data['ME1 BM2']
x=data[['Mkt-RF','SMB','HML','RMW','CMA']]               
x = sm.add_constant(x)
model = sm.OLS(y,x)
results = model.fit()
results.params
results.tvalues
print(results.summary())
print(results.resid)

#Looping accross column 25 portfolios
    
for i in range(32):
    y= (data.iloc[:,i])
    x=data[['Mkt-RF','SMB','HML','RMW','CMA']]
    x = sm.add_constant(x)
    model = sm.OLS(y,x)
    results = model.fit()
    results.params
    results.tvalues
    print(results.summary())
          
#step1 regression

for i in range(21,25):
    y= (data.iloc[:,i])
    x=data[['Mkt-RF','SMB','HML','RMW','CMA']]
    x = sm.add_constant(x)
    model = sm.OLS(y,x)
    results = model.fit()
    results.params
    results.tvalues
    print(results.summary())
    R2 = results.rsquared
    e  = results.resid
    T = x.shape[0]

for i in range(1,25):
    print(data.iloc[:,i])

#step2:intercept vector
    
    alpha = results.params[0]
    F = data[['Mkt-RF','SMB','HML','RMW','CMA']]
    L = F.shape[1]
    alpha = np.zeros(shape =(25,1))
    alpha[i] = results.params[0]
    
#step3: residual matrix
    
    e = np.zeros(shape = (636,25))
    e[:, i] = results.resid
    
F_bar = np.tile(F.mean(axis=0), (F.shape[0], 1))
Sigma = e.T.dot(e) / (T - L - 1)

F = data[['Mkt-RF','SMB','HML','RMW','CMA']]
F_bar = np.tile(F.mean(axis=0), (F.shape[0], 1))
mu = np.array(F.mean()).reshape(-1,1)  

Omega = (F - F_bar).T.dot(F - F_bar) / (T - 1)
N = x.shape[0]
GRS = (T/N)( (T - N - L) / (T - L - 1))( alpha.T.dot(np.linalg. inv(Sigma)).dot(alpha) / (1 + mu.T.dot(np.linalg.inv(Omega)).dot(mu)) )

GRS = (T/N)*( (T - N - L) / (T - L - 1))*

( alpha.T.dot(np.linalg. inv(Sigma)).dot(alpha) 

/ 
 (1 + mu.T.*(np.linalg.inv(Omega))@dot(mu)) )

#getting singular matrix. why? due to the perfect correlation issues
GRS = (T/N)( (T - N - L) / (T - L - 1))

alpha.T
(np.linalg. inv(Sigma))
alpha
 
 (1 + mu.T.dot(np.linalg.inv(Omega)).dot(mu)) 

Sigma.corr()

-----------------------------------------------------------------------
#Q FACTOR MODEL Q FACTOR MODEL Q FACTOR MODEL


#q FACTOR MODEL

y = data['ME1 BM2']
x=data[['Mkt-RF','SMB','HML','RMW','CMA']]               
x = sm.add_constant(x)
model = sm.OLS(y,x)
results = model.fit()
results.params
results.tvalues
R2 = print(results.rsquared)
print(results.summary())

data.head()

for col in data:
    
y = data['ME1 BM2']
x=data[['R_MKT','R_ME','R_IA','R_ROE','R_EG']]               
x = sm.add_constant(x)
model = sm.OLS(y,x)
results = model.fit()
results.params
results.tvalues
print(results.summary())
print(results.resid)

#Looping accross column 25 portfolios
    
for i in range(21,25):
    y= (data.iloc[:,i])
    x=data[['R_MKT','R_ME','R_IA','R_ROE','R_EG']]
    x = sm.add_constant(x)
    model = sm.OLS(y,x)
    results = model.fit()
    results.params
    results.tvalues
    print(results.summary())
          
#step1 regression

for i in range(21,25):
    y= (data.iloc[:,i])
    x=data[['Mkt-RF','SMB','HML','RMW','CMA']]
    x = sm.add_constant(x)
    model = sm.OLS(y,x)
    results = model.fit()
    results.params
    results.tvalues
    print(results.summary())
    R2 = results.rsquared
    e  = results.resid
    T = x.shape[0]

for i in range(1,25):
    print(data.iloc[:,i])

#step2:intercept vector
    
    alpha = results.params[0]
    F = data[['Mkt-RF','SMB','HML','RMW','CMA']]
    L = F.shape[1]
    alpha = np.zeros(shape =(25,1))
    alpha[i] = results.params[0]
    
#step3: residual matrix
    
    e = np.zeros(shape = (636,25))
    e[:, i] = results.resid
    
F_bar = np.tile(F.mean(axis=0), (F.shape[0], 1))
Sigma = e.T.dot(e) / (T - L - 1)

F = data[['Mkt-RF','SMB','HML','RMW','CMA']]
F_bar = np.tile(F.mean(axis=0), (F.shape[0], 1))
mu = np.array(F.mean()).reshape(-1,1)  

Omega = (F - F_bar).T.dot(F - F_bar) / (T - 1)
N = x.shape[0]
GRS = (T/N)( (T - N - L) / (T - L - 1))( alpha.T.dot(np.linalg. inv(Sigma)).dot(alpha) / (1 + mu.T.dot(np.linalg.inv(Omega)).dot(mu)) )

GRS = (T/N)*( (T - N - L) / (T - L - 1))*

( alpha.T.dot(np.linalg. inv(Sigma)).dot(alpha) 

/ 
 (1 + mu.T.*(np.linalg.inv(Omega))@dot(mu)) )
























i = 0
  for column in data.columns:
    y = np.array(data[column])
    F = np.delete(x,0,1)
    model_1 = sm.OLS(y, x)
    res_1 = model_1.fit()
    
    alpha['alpha'].loc[column] = res_1.params[0]
    R2[i] = res_1.rsquared 
    e[:, i] = res_1.resid
    i += 1
    x.shape
  alpha_1 = np.array(alpha['alpha'])
 
  T = x.shape[0]
  L = F.shape[1]
  
  F = np.delete(x, 0,1)
  F_bar = np.tile(F.mean(axis=0), (F.shape[0], 1))
  
  Sigma = e.T.dot(e) / (T - L - 1)
  mu = np.array(factor.mean()).reshape(-1,1)


  Omega = (F - F_bar).T.dot(F - F_bar) / (T - 1)
  GRS = (T/N)( (T - N - L) / (T - L - 1))( alpha_1.T.dot(np.linalg. inv(Sigma)).dot(alpha_1) / (1 + mu.T.dot(np.linalg.inv(Omega)).dot(mu)) )

IndentationError: ignored